@model List<TestimonialViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Testimonial Image</th>
        <th>Testimonial Name</th>
        <th>Testimonial Title</th>
        <th>Testimonial Description</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.Id" class="btn btn-rounded btn-outline-danger">Delete</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.Id" class="btn btn-rounded btn-outline-success">Update</a>
            </td>
            <td><a href="/Testimonial/" class="btn btn-rounded btn-outline-dark">Details</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial" class="btn mb-1 btn-rounded btn-outline-primary">Add Testimonial</a>